<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">


	<http pattern="/login" security="none" />
	<http pattern="/resetpassword" security="none" />
	<http pattern="/register" security="none" />
	<http pattern="/contactus" security="none" />
	<http pattern="/about" security="none" />
	<http pattern="/privacy" security="none" />
	<http pattern="/" security="none" />
	<http pattern="/welcome" security="none" />
	
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/resetCred" access="permitAll" />
		<intercept-url pattern="/success" access="permitAll" />
		<intercept-url pattern="/error" access="permitAll" />
		<intercept-url pattern="*/resetpasssubmit/**" access="permitAll" />


		<intercept-url pattern="/*" access="isAuthenticated()" />
		<!-- <intercept-url pattern="/*" access="hasRole('ROLE_ADMIN')" /> <intercept-url 
			pattern="/user/**" access="hasRole('ROLE_USER')" /> -->
		<intercept-url pattern="/loginError.jsp" access="permitAll" />
		<access-denied-handler error-page="/403" />
		<form-login login-page="/login" authentication-failure-url="/login"
			username-parameter="email" password-parameter="password"
			authentication-success-handler-ref="myAuthenticationSuccessHandler"
			always-use-default-target="true" />
		<logout logout-success-url="/login" />

	</http>
	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="userDetailsService"></authentication-provider>

	</authentication-manager>


</beans:beans>